        /* fonts */
@font-face {
    font-family: «Futura», sans-serif;
    src: url('futuraNormal.ttf');
    font-weight: normal;
}
@font-face {
    font-family: «Futura», sans-serif;
    src: url('fonts/futuraBold.ttf');
    font-weight: bold;
}

        /* Typography */
a {
    padding: 0px;
    margin: 0px;
    font: 14px sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(0, 159, 188);
}
p {
    padding: 0px;
    margin: 0px;
    font: 16px sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
}
h1 {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font: 48px sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font: 38px sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    color: rgb(255, 255, 255);
    font: 32px sans-serif;
    font-weight: bold;
}
h4 {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font: 24px sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h5 {
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    font: 16px sans-serif;
    font-weight: normal;
}
ul li {
  list-style: none;
}

/* window */
#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.9);
    z-index: 100;
    overflow: auto;
}
#window{
    z-index: 999;
    width: 800px;
    height: 400px;
    margin: 150px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px;
}
.window_image {
    float: left;
}
.window_image img {
    height: 300px;
    padding: 0px;
    margin: 0px;
}
.window_image h3 {
    position: absolute;
    margin: -105px 0px 0px 20px;
}
.window_image h5 {
    position: absolute;
    margin: 20px 0px 0px 20px;
}
.window_image p {
    font-size: 12px;
    position: absolute;
    margin: 50px 0px 0px 20px;
}
.window_location img {
    height: 80px;
    margin: 30px 20px 25px 80px;
}
.window_location__btn {
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
     background: rgb(0, 159, 188)
     -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.window_location__btn:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #63d7c4
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.window_location p {
    margin-top: 20px;
}
.window_location input {
    margin: 20px;
    padding: 5px 90px;
}


/* navigation */
/* top */
.navigation_top__distr {
    background-color: rgb(0, 0, 0);
}
.navigation_text {
    margin: 15px 0px 0px 10px;
    float: left;
}
.navigation_ikon {
    margin: 15px 6px 0px 10px;
    color: rgb(0, 159, 188);
    float: left;

}
.navigation_location {
    margin-top: 15px;
    float: left;
    color: rgb(0, 159, 188);
}
.navigation_location span {
    margin-left: 60px;
    font: 16px sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
}
.navigation_location span:hover {
    color: rgb(0, 159, 188);
}


.header {
    background-color: rgb(245, 245, 245);
}
/* navigation_prim */
.navigation_prim {
    height: 80px;
}
.logo {
    float: left;
    margin: 10px;
    width: 190px;
    height: 50px;
}
#bar {
  float: right;
  list-style: none;
  margin: 20px auto;
  padding: 0 10px;
}
#bar > li {
    z-index: 99; /* up submenu */
    float: left;
    margin-right: 35px;
    position: relative;
}

#bar > li > a {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 0;
  padding: 15px  10px;
  -webkit-transition: all 0.25s;
}
.menu .submenu {
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  left: -12px;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  visibility: hidden;
  width: 200px;
}

.no-js .menu:hover .submenu,
.menu-hover:hover .submenu,
.menu-click.menu-active .submenu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.menu .submenu:before,
.menu .submenu::before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  top: -6px;
  width: 0;
}

.menu .submenu li {
  border-bottom: 1px solid #EBEBEB;
  padding: 7px 10px;
}
.menu .submenu li:hover {
    background-color: rgb(0, 159, 188);
    -moz-transition: background-color, 0.5s;
    -o-transition: background-color, 0.5s;
    -webkit-transition: background-color, 0.5s;
    transition: background-color, 0.5s;
}

.menu .submenu li:last-child {
  border-bottom: none;
}

.menu .submenu a {
  color: rgb(0, 0, 0);
  display: inline-block;
  line-height: 1.2em;
  padding: 5px 0;
  text-decoration: none;
}
.menu .submenu a:hover {
    background-size: contain;
   color: rgb(255, 255, 255);
}

.menu-right .submenu {
   left: auto;
  right: -12px;
  text-align: right;
}

.menu-right .submenu:before,
.menu-right .submenu::before {
  left: auto;
  right: 24px;
}
/* menu btn */
.menu_btn {
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
     background: #63d7c4
     -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
.menu_btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
     background: #63d7c4
     -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));

}


/* Slider */
.slider_dots {
    position: absolute;
    z-index: 1;
    margin: 10px 90%;
        -moz-transform: rotate(-90deg); /* Для Firefox */
        -ms-transform: rotate(-90deg); /* Для IE */
        -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-90deg); /* Для Opera */
        transform: rotate(-90deg);
}
.slider_dots__item {
    list-style-type: none;
}
.slider_dots__item a {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;

}
.slider_dots__item a.active {
    background-color: rgb(0, 159, 188);
}
.slider_text {
    position: absolute;
    margin: 320px 100px 100px 15px;
}
.bx-wrapper { /* Class to wrap the slider in. Change to prevent from using default bxSlider styles */
    margin-bottom: 0px;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* slider bottom */
.slider_bottom {
    margin:25px 0px;
}
.slider_bottom__text {
    margin:0px 20px;
    float: left;
}


/* panel */
.panel {
margin: 0px 15px;
}
.panel_part {
    height: 250px;
    width: 100%;
    display: block;
    background-size: cover;
    background: rgb(0, 159, 188)
    -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}
.panel_part:hover {
    background: rgb(0, 159, 188);
    cursor: pointer;
}
.panel_part h4 {
    margin: 20px 5px;
    float: left;
}
.panel_part__ikon {
    color: rgb(255, 255, 255);
    font-size: 38px;
    float: right;
    margin: 20px 5px;
}
.panel_part p {
    position: absolute;
    margin-top: 125px;
    text-transform: none;
    font-size: 16px;
    float: left;
    color: rgb(255, 255, 255)
}
.panel_part p:last-child {
    margin-right: 5px;
}
.panel_btn {
    position: absolute;
    margin: 175px 0px 0px 30%;
    float: right;
    border-radius: 20px;
    padding: 10px;
    color: rgb(0, 159, 188);
     background: rgb(255, 255, 255);
}
.panel_btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #63d7c4
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

/* screen1 bottom */
.screen1_bottom {
    margin: 15px;
}
.screen1_bottom__text {
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.screen1_bottom__text span {
    color: rgb(0, 159, 188);
}




/* opinions part */
.opinions_text {
    margin: 15px 0px;
}
.opinions_block:first-child {
    background-image: url('../img/comm1.png');
}
.opinions_block {
    height: 250px;
    width: 100%;
    display: block;
    background-size: cover;
    background-image: url('../img/comm2.png');
}
.opinions_block:last-child {
    background-image: url('../img/comm3.png');
}
.opinion_block__ikon {
    margin-top: 100px;
    font-size: 22px;
    color: rgb(255, 255, 255)
}
.opinion_block__text {
    margin: 0px 20px 0px -15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.opinion_block h4 {
    margin-bottom: 80px;
}
.opinion_block__text h5 {
    margin: 10px 50px 10px 10px;
    font-weight: bold;
}
.opinion_block__text p {
    font-size: 14px;
    margin: 10px 50px 10px 10px;
}






/* about company */
.about_block {
    margin-top: 150px;
}
.about_text {
    margin: 100px 20px 10px 10px;
}
.about_block__slider {
    float: left;
}
.slider-min {
    font-size: 38px;
}
.slider_dots2 {
    position: absolute;
    z-index: 999;
    margin: 10px 430px;
        -moz-transform: rotate(-90deg); /* Для Firefox */
        -ms-transform: rotate(-90deg); /* Для IE */
        -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-90deg); /* Для Opera */
        transform: rotate(-90deg);
}
.about_block__item a {
    margin: 10px;
}
.about_block__item a:first-child {
    margin-left: 100px;
}
.about_block__item2 {
    margin: 40px 0px 0px 660px;
    font-size: 18px;
}
.about_block__item3 {
    margin: 50px 0px 0px 660px;
}
.about_block__btn {
    position: absolute;
    margin: 70px 0px 0px 110px;
    float: right;
    border-radius: 20px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
     background: rgb(0, 159, 188);
}
.about_block__btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #63d7c4
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.chat_btn {
    position: absolute;
    margin: -30px 0px 0px 90%;
    float: right;
    border-radius: 20px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    background: #000
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));;
}
.chat_btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #000
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    -webkit-transition: all 600ms;
    transition: all 600ms;
}
.chat_btn__coment {
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: rgb(0, 159, 188);
    background: #fff;
    margin: 20px 0px 0px 90%;
}
.chat_btn__coment:hover {
    background: #63d7c4
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}





/* order part */
.order_text {
    margin: 20px 15px;
}
.order_banner {
    margin: 0px 15px;
    height: 400px;
    width: 100%;
    display: block;
    background-size: cover;
    background-image: url('../img/scr3.png');
}
.order_banner__text {
    position: absolute;
    margin: 360px 100px 100px 15px;
}
.order_banner__text:last-child {
    margin: 367px 100px 100px 1050px;
}
.order_bottom {
    margin: 25px 15px;
}
.order_bottom a {
    float: left;
}
.order_bottom p {
    font-weight: bold;
    padding: 10px;
    margin-left: 790px;
}






/* footer */
.footer {
    background-color: rgb(245, 245, 245);
}
.footer_item {
    padding: 10px 0px;
    margin: 20px 0px;
}
.footer_item__btn {
    float: left;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(170, 170, 170);
     background: #fff
     -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
.menu_btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
     background: #019fbc
     -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.footer_item h5 {
    font-size: 14px;
    float: left;
    padding: 10px;
    color: rgb(170, 170, 170);
    margin-left: 350px;
}
.footer_item__menu {
    display: inline;
}
.footer_item__menu a {
    float: right;
    padding: 10px;
    color: rgb(170, 170, 170);
    text-transform: none;
}
